extends layout

block content
  div#loading
    | Loading
  div#wrapper
    div#canvas
    button#skipImage
      | Skip Image
    button#saveImage
      | Save & Go to next
    button#removeButton
      | X
  div#info
    | Just double click anywhere on the image to get a standard size box. Then drag the box to your preferred location. Once done, click save image. If you do not wish to create bounding box, simply click skip image.
  script
    | mixpanel.track("Landing page loaded");
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
  script
    | window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.11.2.min.js"><\/script>')
  script(src='javascripts/main.js')