extends layout

block content
  div#loading
    | Loading
  div#wrapper
    div#canvas
    button#skipImage
      | Skip Image
    button#saveImage
      | Save & Go to next
    button#removeButton
      | X
  div#info
    | Add boxes to cars which have not been added. Double click to add a box. Drag the box to appropriate place. Right click on box to remove(You can only remove boxes you added). Click on save to save results. If you do not wish to evaluate an image, click on skip.
  script
    | mixpanel.track("Landing page loaded");
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
  script
    | window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.11.2.min.js"><\/script>')
  script(src='javascripts/main.js')