doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='javascripts/vendor/modernizr-2.8.3.min.js')
    script(src='javascripts/raphael-min.js')
  body
    block content